@{
    @model IEnumerable<Motorcycle>
    ViewData["Title"] = "Home Page";
}

    <div>
        <a class="btn btn-sm btn-primary mb-2" asp-area="" asp-controller="Home" asp-action="AddMotorcycle">Add new motorcycle</a>

        @if (Model != null && Model.Any())
        {
            <table class="table text-left">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Serial number</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Serialnumber</td>
                            <td>
                                <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Home" asp-action="DeleteMotorcycle" asp-route-id="@item.Id">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="alert-info">No motorcycles have been added</p>
        }
    </div>
